a {
  color: #404d5f;
  text-decoration: none;
  text-transform: none;
}

a:hover {
  color: #65bcc4;
  text-decoration: none;
}

.logo {
  margin-top: 10px;
  font-family: Exo, sans-serif;
  color: #65bcc4;
  font-size: 26px;
  font-weight: 700;
}

.row {
  font-family: 'Changa One', Impact, sans-serif;
}

.navi {
  margin-top: 30px;
  background-color: rgba(0, 152, 255, 0);
}

.nav-items {
  margin: 10px;
  padding: 10px 30px;
  border: 1px solid #d5d8dd;
  border-radius: 20px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #404d5f;
  font-size: 16px;
  font-weight: 400;
}

.nav-items.checked {
  border-style: solid;
  border-color: #404d5f;
  background-color: #fbba3f;
  color: #fff;
}

.nav-items.button {
  color: #fff;
}

.navbar {
  background-color: transparent;
}

.nav-menu {
  position: relative;
  float: right;
}

.menuquote {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #404d5f;
  font-size: 16px;
  font-weight: 400;
}

.container.hero {
  height: 580px;
  background-image: url('../images/Mobile-Landscape.png');
  background-position: 50% 200%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.heading {
  width: 500px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #404d5f;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.button {
  margin-right: 10px;
  padding: 10px 30px;
  border: 1px solid #fbba3f;
  border-radius: 20px;
  background-color: #fbba3f;
  -webkit-transition: box-shadow 200ms cubic-bezier(.645, .045, .355, 1);
  transition: box-shadow 200ms cubic-bezier(.645, .045, .355, 1);
  font-family: Ubuntu, Helvetica, sans-serif;
}

.button:hover {
  box-shadow: 0 7px 16px 0 #cacaca;
  color: #fff;
}

.button.light {
  border-color: rgba(64, 77, 95, .08);
  background-color: #f7f8f9;
  color: #404d5f;
}

.button.button2 {
  border-color: rgba(64, 77, 95, .35);
  background-color: #404d5f;
}

.paragraf {
  width: 500px;
  margin-bottom: 40px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #949494;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  position: relative;
  display: block;
  overflow: visible;
  width: 100px;
  padding-bottom: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.product-title {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #404d5f;
  font-weight: 400;
  text-align: center;
}

.text-block {
  text-align: center;
}

.paragraph {
  color: #949494;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.paragraph.pcrs {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.section-title {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  padding-top: 0px;
  padding-bottom: 20px;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.carousel {
  height: 300px;
  clear: both;
  background-color: transparent;
}

.slide {
  overflow: visible;
  width: 31%;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 40px 20px 20px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
}

.arrow {
  background-color: rgba(49, 53, 56, 0);
  color: #cfd2d8;
}

.cicon {
  width: 80px;
  padding-bottom: 20px;
}

.section-grey {
  margin-top: 80px;
  padding-top: 40px;
  background-color: #ecf2f6;
}

.carousel-title {
  color: #65bcc4;
  text-transform: uppercase;
}

.points {
  display: none;
}

.right-arrow {
  margin-right: -60px;
}

.left-arrow {
  margin-left: -60px;
}

.section {
  margin-top: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section.footer {
  background-color: #f7f8f9;
}

.section.cta-bottom {
  background-image: -webkit-linear-gradient(270deg, rgba(247, 248, 249, .79), rgba(247, 248, 249, .79)), url('../images/roadonly.png');
  background-image: linear-gradient(180deg, rgba(247, 248, 249, .79), rgba(247, 248, 249, .79)), url('../images/roadonly.png');
  background-position: 0px 0px, 50% 100%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.footer-title {
  color: #949494;
  text-transform: uppercase;
}

.footer-menu {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #404d5f;
  font-size: 12px;
  line-height: 24px;
}

.column-space {
  margin-top: 37px;
}

.m-image {
  width: 100px;
  float: right;
}

.m-title {
  margin-top: 30px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #404d5f;
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
}

.bold-text {
  font-size: 19px;
  line-height: 24px;
  font-weight: 300;
}

.image-2 {
  opacity: 0.2;
}

@media (max-width: 991px) {
  .logo {
    width: 100%;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
    float: none;
  }
  .nav-menu {
    background-color: #fff;
  }
  .container.hero {
    height: 480px;
    background-position: 50% 100%;
  }
  .button.light {
    display: inline-block;
    float: right;
  }
  .slide {
    width: 47%;
  }
  .section-grey {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .points {
    display: none;
  }
  .right-arrow {
    width: 34px;
    margin-right: -15px;
  }
  .left-arrow {
    margin-left: -53px;
  }
  .section {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .m-title {
    font-size: 18px;
  }
  .menu-button {
    background-color: transparent;
  }
  .menu-button.w--open {
    top: 0px;
    bottom: 0px;
    margin-right: 37px;
    margin-left: 0px;
    padding: 0px;
    background-color: transparent;
  }
  .icon {
    color: #65bcc4;
    font-size: 32px;
  }
  .top-line {
    position: absolute;
    left: 0px;
    top: 18px;
    right: auto;
    width: 40px;
    height: 2px;
    background-color: #65bcc4;
  }
  .middle-line {
    position: absolute;
    left: 0px;
    top: 28px;
    right: auto;
    width: 40px;
    height: 2px;
    background-color: #65bcc4;
  }
  .bottom-line {
    position: absolute;
    left: 0px;
    top: 38px;
    right: auto;
    width: 40px;
    height: 2px;
    background-color: #65bcc4;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 100%;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph.pcrs {
    line-height: 18px;
    text-align: left;
  }
  .cicon {
    display: block;
    margin-left: 55px;
    padding-left: 0px;
    text-align: center;
  }
  .section-grey {
    width: 100%;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .carousel-title {
    text-align: center;
  }
  .right-arrow {
    margin-right: -18px;
  }
  .left-arrow {
    margin-left: -29px;
  }
  .section {
    width: 100%;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .section.footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .m-image {
    float: left;
  }
}

@media (max-width: 479px) {
  .logo {
    padding-left: 0px;
  }
  .heading {
    width: 100%;
    text-align: center;
  }
  .button {
    display: block;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align: center;
  }
  .button.button2 {
    border-color: rgba(64, 77, 95, .46);
    background-color: #404d5f;
  }
  .paragraf {
    width: 100%;
    font-size: 13px;
    text-align: center;
  }
  .column {
    margin-bottom: 20px;
  }
  .product-title {
    margin-top: -10px;
  }
  .paragraph.pcrs {
    text-align: left;
  }
  .slide {
    width: 100%;
  }
  .cicon {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .section-grey {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .right-arrow {
    margin-right: -30px;
  }
  .left-arrow {
    width: 34px;
    margin-left: -30px;
  }
  .section {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .section.cta-bottom {
    padding-bottom: 69px;
  }
  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .menu-button {
    font-size: 20px;
  }
  .top-line {
    width: 100%;
  }
  .middle-line {
    width: 100%;
  }
  .bottom-line {
    width: 100%;
  }
  .bold-text {
    font-size: 14px;
  }
  .emphasis {
    font-weight: 500;
  }
  .main-intro {
    margin-top: -30px;
  }
}